# INFO 2950 Phase 2: Group Project
__Group Members__: Adya Bhargava (ab2446), Akhil Damani (ad674), Madeline Demers (mkd79)

## Research Question
Can we calculate the probability that a player is selected MVP for a season based on their stats for the season?

## Data Cleaning & Collection
The content below describes the process for collecting the data from the NBA site.

In [2]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import duckdb
import numpy as np
import time

**Player Stat Data Collection** 
In other file

**TO DOs & QUESTIONS**
Need to save these files as .csv then show the cleaning process with code here
Explain collection process with text and refer the TA grader to github to see the process of collecting the data and converting it into "raw" csv files that could then be merged/manipulated and cleaned
Should we clean the data (i.e. get rid of the data we don't want to use?)

Here I wanted to update the team names so they are consistent with other data frames. We should consider whether we should use the abbreviations or the full names?

In [ ]:
#read csv file "player_stats.csv"
player_stats_df = pd.read_csv('player_stats.csv')
player_stats_df
team_name_mapping = {
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'BKN': 'Brooklyn Nets',
    'CHA': 'Charlotte Hornets',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GSW': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'LA Clippers',
    'LAL': 'Los Angeles Lakers',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NOP': 'New Orleans Pelicans',
    'NYK': 'New York Knicks',
    'OKC': 'Oklahoma City Thunder',
    'ORL': 'Orlando Magic',
    'PHI': 'Philadelphia 76ers',
    'PHX': 'Phoenix Suns',
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SAS': 'San Antonio Spurs',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'WAS': 'Washington Wizards',
}

player_stats_df['Team_Name'] = player_stats_df['TEAM'].map(team_name_mapping)

#Check to see that the head and tail of the data is popoulating as expected with updated team names
player_stats_df

,Unnamed: 0,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,...,DREB,REB,AST,STL,BLK,TOV,PTS,EFF,Year,Team_Name
0,0,1503,1,Tracy McGrady,1610612753,ORL,67,39.9,9.7,23.4,...,4.6,6.0,5.5,1.4,0.6,2.7,28.0,23.7,2003-04,Orlando Magic
1,1,978,2,Peja Stojakovic,1610612758,SAC,81,40.3,8.2,17.1,...,5.1,6.3,2.1,1.3,0.2,1.9,24.2,23.0,2003-04,Sacramento Kings
2,2,708,3,Kevin Garnett,1610612750,MIN,82,39.4,9.8,19.6,...,10.9,13.9,5.0,1.5,2.2,2.6,24.2,33.1,2003-04,Minnesota Timberwolves
3,3,977,4,Kobe Bryant,1610612747,LAL,65,37.7,7.9,18.1,...,3.9,5.5,5.1,1.7,0.4,2.6,24.0,22.7,2003-04,Los Angeles Lakers
4,4,1718,5,Paul Pierce,1610612738,BOS,80,38.8,7.5,18.7,...,5.7,6.5,5.1,1.6,0.7,3.8,23.0,20.5,2003-04,Boston Celtics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4201,4201,200782,241,P.J. Tucker,1610612755,PHI,75,25.6,1.3,3.0,...,2.7,3.9,0.8,0.5,0.2,0.6,3.5,6.6,2022-23,Philadelphia 76ers
4202,4202,1630540,242,Miles McBride,1610612752,NYK,64,11.9,1.2,3.4,...,0.6,0.8,1.1,0.6,0.1,0.4,3.5,3.3,2022-23,New York Knicks
4203,4203,1630264,243,Anthony Gill,1610612764,WAS,59,10.6,1.2,2.2,...,1.1,1.7,0.6,0.1,0.2,0.3,3.3,4.3,2022-23,Washington Wizards
4204,4204,1631132,244,Christian Koloko,1610612761,TOR,58,13.8,1.2,2.6,...,1.5,2.9,0.5,0.4,1.0,0.3,3.1,5.9,2022-23,Toronto Raptors
4205,4205,1630586,245,Usman Garuba,1610612745,HOU,75,12.9,1.1,2.4,...,2.5,4.1,0.9,0.6,0.4,0.6,3.0,6.8,2022-23,Houston Rockets

In [3]:

team_stats_df = pd.read_csv('team_data.csv')

team_stats_df

#Clean this data

                 Unnamed: 0   w   l  w/l %  avg pts  opp avg pts   srs
0          New Jersey Nets*  49  33  0.598     95.4         90.1  4.42
1       Philadelphia 76ers*  48  34  0.585     96.8         94.5  1.76
2           Boston Celtics*  44  38  0.537     92.7         93.1 -0.75
3            Orlando Magic*  42  40  0.512     98.5         98.4 -0.39
4        Washington Wizards  37  45  0.451     91.5         92.5 -1.47
5           New York Knicks  37  45  0.451     95.9         97.2 -1.61
6                Miami Heat  25  57  0.305     85.6         90.6 -5.13
7          Detroit Pistons*  50  32  0.610     91.4         87.7  2.97
8           Indiana Pacers*  48  34  0.585     96.8         93.3  2.79
9      New Orleans Hornets*  47  35  0.573     93.9         91.8  1.52
10         Milwaukee Bucks*  42  40  0.512     99.5         99.3 -0.24
11            Atlanta Hawks  35  47  0.427     94.1         97.6 -3.87
12            Chicago Bulls  30  52  0.366     95.0        100.1 -5.31
13          Toronto Raptors  24  58  0.293     90.9         96.8 -6.10
14      Cleveland Cavaliers  17  65  0.207     91.4        101.0 -9.59
15       San Antonio Spurs*  60  22  0.732     95.8         90.4  5.65
16        Dallas Mavericks*  60  22  0.732    103.0         95.2  7.90
17  Minnesota Timberwolves*  51  31  0.622     98.1         96.0  2.46
18               Utah Jazz*  47  35  0.573     94.7         92.3  2.76
19          Houston Rockets  43  39  0.524     93.8         92.3  1.89
20        Memphis Grizzlies  28  54  0.341     97.5        100.7 -2.60
21           Denver Nuggets  17  65  0.207     84.2         92.4 -7.41
22        Sacramento Kings*  59  23  0.720    101.7         95.2  6.68
23      Los Angeles Lakers*  50  32  0.610    100.4         98.0  2.71
24  Portland Trail Blazers*  50  32  0.610     95.2         92.5  2.97
25            Phoenix Suns*  44  38  0.537     95.5         94.4  1.57
26      Seattle SuperSonics  40  42  0.488     92.1         92.3  0.37
27    Golden State Warriors  38  44  0.463    102.4        103.6 -0.60
28     Los Angeles Clippers  27  55  0.329     93.8         97.9 -3.45

**TO DO**
Collect data about: 
Gather data about the # of wins and losses of the team
Calculate percent win rate
Calculate total number of games played in regular season (should be 82)

**Cleaning data about historical MVPs**

In [ ]:

mvp_df = pd.read_csv('mvp_historical.csv')
mvp_df

#coming out with many duplicates - fix this

# mvp_team_df = duckdb.sql("""
# SELECT mvp_df.Year, mvp_df.MVP_Name, player_stats_df.Team_Name, player_stats_df.TEAM
# FROM mvp_df
# LEFT JOIN player_stats_df ON mvp_df.MVP_Name = player_stats_df.PLAYER ORDER BY mvp_df.Year
# """).df()

# mvp_team_df

    Unnamed: 0     Year               MVP_Name
0            0  2003-04          Kevin Garnett
1            1  2004-05             Steve Nash
2            2  2005-06             Steve Nash
3            3  2006-07          Dirk Nowitzki
4            4  2007-08            Kobe Bryant
5            5  2008-09           LeBron James
6            6  2009-10           LeBron James
7            7  2010-11           Derrick Rose
8            8  2011-12           LeBron James
9            9  2012-13           LeBron James
10          10  2013-14           Kevin Durant
11          11  2014-15          Stephen Curry
12          12  2015-16          Stephen Curry
13          13  2016-17      Russell Westbrook
14          14  2017-18           James Harden
15          15  2018-19  Giannis Antetokounmpo
16          16  2019-20  Giannis Antetokounmpo
17          17  2020-21           Nikola Jokic
18          18  2021-22           Nikola Jokic
19          19  2022-23            Joel Embiid

**Merging Data About Players Rank Within Their Team**
TO DO: Get the player ranking within their team?
Describe process here

In [ ]:

# #  Merge dataframes on 'Year' and 'TEAM' columns
# merged_df = player_stats_df.merge(team_stats_df, on=['Year', 'Team'], how='left')

# # Create a new column to calculate player's rank within their team for each season
# #TO DO

# # Sort the merged dataframe by 'Year', 'Team Name'
# merged_df = merged_df.sort_values(by=['Year', 'Team'])

## Data Description

- __What are the observations (rows) and the attributes (columns)?__
- __Why was this dataset created?__
- __Who funded the creation of the dataset?__
- __What processes might have influenced what data was observed and recorded and what was not?__
- __What preprocessing was done, and how did the data come to be in the form that you are using?__
- __If people are involved, were they aware of the data collection and if so, what purpose did they expect the data to be used for?__
- __Where can your raw source data be found, if applicable? Provide a link to the raw data (hosted on Github, in a Cornell Google Drive or Cornell Box).__

## Data Limitations

Fill in here!

## Exploratory Data Analysis

TO DO

In [ ]:
#Data Analysis

## Questions for Reviewers
1. Is our research question in depth enough for the scope of the project assignment? If not, how might you suggest we modify it to better reflect the project requirements?
2. TO DO
3. TO DO